{% extends "base.html" %}
{% block content %}  
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
            <div class="alert  alert-{{ category }} alert-dismissible fade show" role="alert">
              <strong>{{ message }}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
          {% endif %}
          {% endwith %}
          <section>
            <div class="container h-100" >
            <div class="main_container">
              <div class="content">
                <h2>Welcome To Our Amazing Journey Of commitment </h2>
                <p> Our vision is to create a seamless and engaging platform that empowers readers to explore, track,<br> and share their literary journeys.</p>
                <a class="btn btn-warning btn-lg m-2" href="/book_list">Start Your Libery</a>   
              </div>
              
            </div>
            </div>
          </section>
              {% endblock %}

  




  