{% extends "base.html" %}
{% block content %} 
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
  <div class="alert  alert-{{ category }} alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
    {% endfor %}
  {% endif %}
{% endwith %} 

  <table class="table table-hover table-striped mt-5">
    <thead class="table-dark">
      <tr>
        <th scope="col" class="text-warning">#</th>
        <th scope="col" class="text-warning">book_id</th>
        <th scope="col" class="text-warning">Title</th>
        <th scope="col" class="text-warning">Genre</th>
        <th scope="col" class="text-warning">page_numbers</th>
        <th scope="col" class="text-warning">Authers</th>
        <th scope="col" class="text-warning">Add_book</th>
      </tr>
    </thead>
    <tbody>
      {% for dict_item in data %}
      <tr>
        <th scope="row">#</th>
        {% for key, value in dict_item.items() %}
        <td> {{value}} </td>
        {% endfor%}
        <td> <form action="/add_book" method="GET , POST" >
          <input type="hidden" name="book_id" value="{{ dict_item['id'] }}">
          <input type="hidden" name="title" value="{{ dict_item['title'] }}">
          <input type="hidden" name="genre" value="{{ dict_item['genre'] }}">
          <input type="hidden" name="page_number" value="{{ dict_item['page_number'] }}">
          <input type="hidden" name="authors" value="{{ dict_item['authors'] }}">
          <button class="btn btn-warning btn-sm" type="submit">Add Book</button>
        </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
    </div>


{% endblock %}